<div class="login">
    <h1>How to 🔥 Cypress-Cucumber Test 🔥!!</h1>

    <div style="margin-top: 70px; border: 1px gainsboro solid; padding: 45px; border-radius: 10px;">
        <p style="color: red; text-align: center;">{{error}}</p>

        Email
        <p style="margin: 0">
            <input type="email" #email (keyup)="error='Welcome'" data-test="email"/>
        </p>

        <br /><br />
        Password
        <p style="margin: 0">
            <input type="password" #pass (keyup)="error='Welcome'" data-test="password" />
        </p>
    </div>

    <button (click)="login(email.value, pass.value)" data-test="login">Login</button>
</div>