<div class="details">
    <div style="width: 400px; line-height: 23px;">
        <h2>{{item.title}} </h2>
        <p style="color:rgb(5, 207, 39)">{{item.price}} EUR</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore dicta commodi, aspernatur at perferendis
            quos
            ipsa veniam eligendi exercitationem optio, necessitatibus quas nobis, quasi corrupti ab perspiciatis
            voluptate
            labore. Reprehenderit!
        </p>
        <br>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore dicta commodi, aspernatur at perferendis
            quos
            ipsa veniam eligendi exercitationem optio, necessitatibus quas nobis, quasi corrupti ab perspiciatis
            voluptate
            labore. Reprehenderit!
        </p>
    </div>


</div>